# Server
PORT=8080

# Email
RESEND_API_KEY=
RESEND_FROM_EMAIL=no-reply@helptrix.com

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=helptrix
DB_PASSWORD=helptrix
DB_NAME=helptrix_db
DB_SSLMODE=disable

# Authentication
PASETO_SYMMETRIC_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

# Gin
GIN_MODE=debug

# Firebase Storage
FIREBASE_CREDENTIALS_PATH=/path/to/serviceAccountKey.json
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
